[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "confreq"]
	path = confreq
	url = https://github.com/cran/confreq
[submodule "holland"]
	path = holland
	url = https://github.com/cran/holland
[submodule "pairwise"]
	path = pairwise
	url = https://github.com/cran/pairwise
